<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div
      class="w-full max-w-4xl border border-gray-300 p-6 rounded-lg shadow-md bg-white"
    >
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2
          class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900"
        >
          PRUEBA NODE JS - ANGULAR
        </h2>
      </div>
      <form class="space-y-6" (ngSubmit)="login()">
        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-900">
            Username:
          </label>
          <div class="mt-2">
            <input
              type="text"
              name="username"
              id="email"
              [(ngModel)]="username"
              autocomplete="username"
              required
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm/6 font-medium text-gray-900"
            >
              Contraseña:
            </label>
            <div class="text-sm"></div>
          </div>
          <div class="mt-2">
            <input
              type="password"
              name="password"
              id="password"
              [(ngModel)]="password"
              autocomplete="current-password"
              required
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-blue-700 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Iniciar sesión
          </button>
          <div class="pt-2">
            <button
              routerLink="/registrar"
              type="button"
              class="flex w-full justify-center rounded-md bg-blue-700 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Crear cuenta
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
